.authBox {
  display: flex;
  position: relative;
  width: 60rem;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  top: 5rem;
  left: 5rem;
}

.containerAuth {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 30rem;
}

ul {
  list-style: none;
}

.mask {
  position: absolute;
  width: 30rem;
  background-color: #1aab8a;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #fff;
  transition: 1s;
}

.mask label {
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #000;
  cursor: pointer;
}

.maskInpt {
  display: none;
}
