.cardBody {
  background-color: #fff;
  width: 13rem;
  border-radius: 1.5rem;
  margin: 1rem;
  border: 1px solid #8c8c8c;
  overflow: hidden;
}

.cardText {
  padding: 0.2rem 1rem;
}

.cardImg img {
  margin: 1rem auto;
  width: 10rem;
  height: 10rem;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.btnBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
