.modalBox {
  background: #59dc98;
  color: #fff;
  position: absolute;
  right: -30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
  cursor: default;
}
